$mainColor: #11a3ed;
$mainShadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
$textShadow: 0px 1px 3px rgba(0,0,0,0.2);
$mainFont: "Roboto",
	-apple-system,
	BlinkMacSystemFont,
	"Segoe UI",
	"Roboto",
	"Oxygen",
	"Ubuntu",
	"Cantarell",
	"Fira Sans",
	"Droid Sans",
	"Helvetica Neue",
	"Helvetica",
	"Arial",
	sans-serif;
