@import "variables";
@import "mixins";

body{
	font-family: $mainFont;
	border-top: 4px solid #11a3ed;
	background: #f9f9fa;
	font-weight: 100;
}

.navbar-default{
	background: $mainColor;
	color: white;
	box-shadow: $mainShadow;
	border-color: $mainColor;
	border-radius: 0px;
	padding: 5px 0px;


	.navbar-brand{
		color: #ffffff;
		font-size: 22px;
		&:hover{
			color: #ffffff;
		}
		&:focus{
			color: #ffffff;	
		}
	}

	.navbar-nav>li>a{
		color: #ffffff;
		font-size: 17px;
		text-shadow: $textShadow;
		border-radius: 7px;
    	padding: 11px 20px;
    	margin: 4px 5px 0px 5px;
    	font-weight: 300;
		&:hover{
			background: rgba(0,0,0,0.06);
    		box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.06);
    		color: #ffffff;
		}
		&:focus{
			color: #ffffff;
		}
	}
	:hover{
		color: #eee;
	}

}

.container{
    @include large-screen {
    	width: 960px;
    }
}

.weather-list{
	display: flex;
    justify-content: space-between;
    border: none;
    margin-bottom: -1px;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
    transition: 0.25s ease all;

    &:hover{
    	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    	margin-bottom: 6px;
	    transform: scale(1.06);
	    -moz-transform: scale(1.06);
	    -ms-transform: scale(1.06);
	    -webkit-transform: scale(1.04);
    }
}

.main-temp{
	font-size: 30px;
	font-weight: 500;
}

.top-weather-box{
    padding: 22px 30px 12px 30px;
    background-image: linear-gradient(-45deg, #B3FFAB 0%, #11a3ed 100%);
    color: white;
    min-height: 200px;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28)
}

.more-details{
	float: right;
    margin-top: 103px;
}

.forecast-row{
	margin-top: 30px;
}

.forecast-input{
	display: flex;
	padding-left: 32px;
	margin-bottom: 20px;
	a{
		color: #686868;
	}
}

.weather-list-div{
	margin-top: -80px;
}

.list-group{
	border: 1px solid rgba(0,0,0,.08);
}

.weather-date{
	font-weight: 400
}

p.text-center{
	font-size: 11px;
}

.btn-primary{
	color: #ffffff;
		font-size: 17px;
		text-shadow: $textShadow;
		border-radius: 7px;
    	padding: 7px 20px;
		border: none;
    	font-weight: 300;
    	background: #11a3ed;
		&:hover{
			background: #0d82bd;
    		box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.06);
    		color: #ffffff;
		}
}

.title{
	font-weight: 300;
	letter-spacing: 1.1px;

}

.flex-container{
	height: 75%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-div{
	width: auto;
}













































